name: ncc

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        cache: 'yarn'
        node-version: '24'

    - run: yarn install
    - run: yarn lint
    - run: yarn test
    - run: yarn package
    
    - name: Self test create dist file
      id: selftest
      uses: ./
      with:
        src: 'index.cjs'
        #ncc_args: '-o testdist'
        
    - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
      if: ${{ github.actor != 'dependabot[bot]' }}
      with:
        message: Commit Dist file
        committer_name: GitHub Actions
        committer_email: actions@github.com
        add: 'dist'
        commit: --signoff
        push: true
